{
  "mcpServers": {
    "julia-repl": {
      "type": "http",
      "url": "http://localhost:${JULIA_MCP_PORT}"{{#if has_api_key}},
      "headers": {
        "Authorization": "Bearer ${JULIA_MCP_API_KEY}"
      }{{/if}}
    }
  }
}
