{
  "mcpServers": {
    "julia-repl": {
      "type": "streamable-http",
      "url": "http://localhost:{{port}}",
      "headers": {{% if has_api_key %}
        "Authorization": "{{api_key}}",{% end %}
        "X-MCPRepl-Session": "{{session_name}}"
      },
      "alwaysAllow": [
                  {{tool_list}}
      ],
      "disabled": false
    }
  }
}