{
  "mcpServers": {
    "julia-repl": {
      "type": "streamable-http",
      "url": "http://localhost:{{port}}",{% if has_api_key %}
      "headers": {
        "Authorization": "{{api_key}}",
        "X-MCPRepl-Session": "{{session_name}}"
      },{% else %}
      "headers": {
        "X-MCPRepl-Session": "{{session_name}}"
      },{% end %}
      "alwaysAllow": [
                  {{tool_list}}
      ],
      "disabled": false
    }
  }
}