{
  "servers": {
    "julia-repl": {
      "type": "http",
      "url": "http://localhost:{{port}}"{% if has_api_key %},
      "headers": {
        "Authorization": "Bearer {{api_key}}"
      }{% end %}
    }
  },
  "inputs": []
}
